html{
	height: 100%;
}

body {
  padding-top: 70px;
  height:100%;
 
   
}

.slide-image {
  width: 100%;
}

.carousel-holder {
  margin-bottom: 30px;
}

.carousel-control,.item {
  border-radius: 4px;
}

.caption {
  height: 130px;
  overflow: hidden;
}

.caption h4 {
  white-space: nowrap;
}

.thumbnail img {
  width: 100%;
}

.ratings {
  color: #d17581;
  padding-left: 10px;
  padding-right: 10px;
}

.thumbnail {
  padding: 0;
}

.thumbnail .caption-full {
  padding: 9px;
  color: #333;
}

footer {
  margin: 150;
  background-color: white;
}


/*
	Cutomize by Anshul
 */
 
 .wrapper{
 	min-height: 100%;
 	position: relative;
 }
 
 .content{
 	padding-bottom: 180px;
 }
 
 .more{
 	
 	height : 510px;
 }
 
 .footer{
 	
 	bottom: 0;
 	height: 0px;
 	
 }
 .blue{
 	color: red;
 }
 
 .dataTableImg{
 	width: 50px;
 	height: 50px;
 }
 .help-block{
 	color: #ff0000;
 }
 